
@font-face {
	font-family: "Monsieur La Doulaise";
	src: url("./MonsieurLaDoulaise-Regular.woff2")
		format("woff2");
}

body {
	margin: 0;
}

#winBanner {
	display: block;
	position: absolute;
	top: calc(50vh - 64px);
	right: 0;
	height: 128px;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 96px;
	text-align: center;
}

#winBanner::after {
	content: " wins";
}

#winBanner:empty {
	display: none;
}

circle {
	stroke-width: 4px;
	stroke: #000;
	fill: #fff;
	transition: all 0.1s;
}

rect {
	stroke-width: 4px;
	stroke: #000;
}

.g {
	fill: #00ff00;
}

.y {
	fill: #ffff00;
}

.r {
	fill: #ff0000;
}

.b {
	fill: #000000;
}

text {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 96px;
	font-family: "Monsieur La Doulaise";
	text-align: start;
	writing-mode: lr-tb;
	direction: ltr;
	text-anchor: start;
	fill: #000000;
	fill-opacity: 1;
	stroke: none;
}

:root {
	background-color: burlywood;
}

body {
	display: flex;
	justify-content: center;
}

svg {
	max-height: 100vh;
}

#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.5);
}

#dice {
	& > circle {
		display: none;
	}

	&[aria-valuenow="1"] > circle.d1 {
		display: block;
	}

	&[aria-valuenow="2"] > circle.d2 {
		display: block;
	}

	&[aria-valuenow="3"] > circle.d3 {
		display: block;
	}

	&[aria-valuenow="4"] > circle.d4 {
		display: block;
	}

	&[aria-valuenow="5"] > circle.d5 {
		display: block;
	}

	&[aria-valuenow="6"] > circle.d6 {
		display: block;
	}

	&:not([aria-valuenow]) {
		display: none;
	}
}
